/*MOBILE SCREEN*/
/*GLOBAL STYLES*/
html {
    scroll-behavior: smooth;
}

body {
    background-color: #292929;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 64px;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: .80;
}

h2 {
    font-size: 40px;
    margin-bottom: 0px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: whitesmoke;
}

h3 {
    font-size: 26px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    margin-bottom: 3px;
    color: whitesmoke;
}

p {
    color: whitesmoke;
}

li {
    color: #DEDEDE;
}

img {
    width: 210px;
}

.link {
    color: #ffcb05;
    text-decoration: none;
}

.link:hover {
    color: #FFE16B;
}

/*skip*/
.skip {
    position: absolute;
    top: -40px;
    border: none;
}

.skip a {
    background: #292929;
    color: whitesmoke;
    left: 0;
    padding: 6px;
    position: relative;
    top: -40px;
    -webkit-transition: top .5s ease-out;
    transition: top .5s ease-out;
    z-index: 1;
}

.skip a:focus {
    position: absolute;
    top: 40px;
}

*:focus {
    outline: 2px solid whitesmoke;
}


/*grid container*/
.container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto auto auto auto auto auto auto;

}

/*NAV AND FOOTER*/
nav {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: transparent;
    padding: 15px;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #logo {
    display: flex;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 10px;
}

nav #logo img {
    width: 80px;
}


nav li {
    padding-left: 20px;
}

nav li:first-child {
    padding-left: 0px;
}


nav li a {
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.7px;
    font-weight: 700;
    display: inline-block;
    width: auto;
    margin: 0 auto;
}

nav .currentpage {
    color: #ffcb05;
}

nav .currentpage:hover {
    color: #cfa400;
}

nav a:hover {
    color: #BDBDBD;
}


footer {
    background-color: #1C1C1C;
    color: #BDBDBD;
    grid-column: 1 / -1;
    grid-row: 7/8;
    text-align: center;
    padding: 25px 20px;
}

footer a {
    padding: 6px;
    color: #BDBDBD;
    text-decoration: none;
    padding-top: 0px;
    font-size: 22px;
}

footer a:hover {
    color: #ffcb05;
}

footer p {
    font-size: 14px;
    line-height: 1.4;
}


/*HOME PAGE*/
.title {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: white;
    padding: 10vw;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#revolution {
    color: whitesmoke;
    font-size: 14vw;
    text-shadow:
        1px 1px 0 #9C9C9C,
        2px 2px 0 #9B9B9B,
        3px 3px 0 #9A9A9A,
        4px 4px 0 #999999,
        5px 5px 0 #989898,
        6px 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        1px 1px 3px rgba(0, 0, 0, .3),
        3px 3px 5px rgba(0, 0, 0, .2),
        5px 5px 10px rgba(0, 0, 0, .25),
        10px 10px 10px rgba(0, 0, 0, .2),
        20px 20px 20px rgba(0, 0, 0, .15);
}


.text {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: white;
    padding: 10vw;
}


.cover-image {
    grid-column: 1/-1;
    grid-row: 1/3;
    background-image: url("../images/home/Cover2025.jpg");
    background-color: #292929;
    /* Parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: table;
    width: 100%;
}

.about-image {
    grid-column: 1/-1;
    grid-row: 3/4;
    background-image: url("../images/home/spicyintro.jpg");
    background-color: #292929;
    /* Parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: table;
    width: 100%;
}

.performance-image {
    grid-column: 1/-1;
    grid-row: 4/5;
    background-image: url("../images/home/performanceNew.jpg");
    background-color: #292929;
    /* Parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: table;
    width: 100%;
}

.yotonix-image {
    grid-column: 1/-1;
    grid-row: 5/6;
    background-image: url("../images/home/tex.jpg");
    background-color: #292929;
    /* Parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: table;
    width: 100%;
}


/*MEDIA PAGE*/
.media-image {
    grid-column: 1/-1;
    grid-row: 1/3;
    background-image: url("../images/media/24-25/mediaCover2025ish.JPG");
    background-color: #292929;
    /* Parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: table;
    width: 100%;
}

.title-photos {
    margin: 20px 0px 15px 0px;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    padding: 1vw 5vw;
}

.photos {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    flex-flow: row wrap;
}

.photos img {
    margin: 7px;
    flex: auto;
    align-self: center;

}

.title-videos {
    margin: 20px 0px 15px 0px;
    grid-column: 2/3;
    grid-row: 5/6;
    text-align: center;
    padding: 1vw 5vw;
}

.videos {
    grid-column: 2/3;
    grid-row: 6/7;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 50px;
}

.videos iframe {
    margin: 7px;
    flex: auto;
    width: 560px;
    height: 315px;
    align-self: center;
}


/*MEMBERS PAGE*/
.members-image {
    grid-column: 1/-1;
    grid-row: 1/3;
    background-image: url("../images/members/HappyMembers2025.jpg");
    background-color: #292929;
    /* Parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: table;
    width: 100%;
}

.title-current {
    margin: 20px 0px 15px 0px;
    color: #1C1C1C;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    padding: 1vw 5vw;
}

.current {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.person {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding: 7px;
    margin-bottom: 8px;
}

.person img {
    object-position: center;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.person p {
    display: block;
    max-width: 200px;
}

.title-alumni {
    margin: 20px 0px 15px 0px;
    grid-column: 2/3;
    grid-row: 5/6;
    text-align: center;
    color: #1C1C1C;
    padding: 1vw 5vw;
}

.alumni {
    grid-column: 2/3;
    grid-row: 6/7;
    padding: 0 2vw;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.year {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 0px 25px 30px 25px;
}

.alumni ul {
    list-style-type: none;
}

.alumni li {
    display: table;
    margin: 0 auto;
}


/*CONTACT PAGE*/
.contact-image {
    grid-column: 1/-1;
    grid-row: 1/3;
    background-image: url("../images/contact/newContact2025.jpg");
    background-color: #292929;
    /* Parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: table;
    width: 100%;
}

.title-social {
    margin: 20px 0px 0px 0px;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    margin-top: 20px;
    padding: 1vw 5vw;
}

.social {
    grid-column: 2/3;
    grid-row: 4/5;
    display: inline;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}

.social a {
    display: block;
    color: #ffcb05;
    text-decoration: none;
    width: 250px;
    margin: 0 auto;
    padding: 8px;
}

.social a p {
    vertical-align: middle;
    display: inline;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.social a:hover {
    color: #FFE16B;
}

/*Form*/
.title-contact {
    margin: 20px 0px 0px 0px;
    grid-column: 2/3;
    grid-row: 5/6;
    text-align: center;
    margin-top: 20px;
    padding: 1vw 5vw;
}

.contactform {
    margin: 2vw;
    grid-column: 2/3;
    grid-row: 6/7;
    display: inline-block;
    margin-bottom: 50px;
}

fieldset {
    width: 100%;
    text-align: center;
}

input {
    width: 90%;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

input:focus {
    box-shadow: 0 0 0 2pt #ffcb05;
    outline: none;
}

textarea {
    height: 200px;
    width: 90%;
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

textarea:focus {
    box-shadow: 0 0 0 2pt #ffcb05;
    outline: none;
}


input[type=submit] {
    display: inline-block;
    margin-top: 5px;
    width: 100px;
    height: 35px;
    padding: 5px 15px;
    background: #ffcb05;
    border: none;
    cursor: pointer;
    color: #1C1C1C;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 25px;
    font-weight: 700;
}

input[type=submit]:hover {
    background: #FFE16B;
}



/*------------------------------------*/

/*TABLET SCREEN*/
@media screen and (min-width: 800px) {

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 55px;
    }

    img {
        width: 350px;
    }

    body {
        font-size: 20px;
    }

    /*grid container*/
    .container {
        grid-template-columns: 15% 70% 15%;
    }

    /*nav & footer*/
    nav {
        padding: 20px;
        display: flex;
    }

    nav a {
        font-size: 22px
    }

    nav ul {
        display: flex;
        justify-content: right;
        align-items: center;
        margin-right: 5%;
    }

    nav #logo {
        display: inline-block;
        margin-left: 5%;
        width: 110px;
    }

    nav #logo img {
        width: 110px;
        height: auto;
    }

    nav li {
        display: inline-block;
        padding-left: 45px;
    }

    footer p {
        font-size: 16px;
    }

    /*body*/
    #revolution {
        font-size: 14vw;
    }

    .text {
        padding: 0 25vw;
    }

    .cover-image {
        height: 700px;
    }

    .about-image {
        height: 700px;
    }

    .performance-image {
        height: 700px;
    }

    .yotonix-image {
        height: 700px;
    }

    /*media*/
    .videos iframe {
        width: 350px;
        height: 280px;
    }

    /*members*/
    .person p {
        max-width: 255px;
        margin: 0 auto;
    }

    .person img {
        width: 255px;
    }


    /*contact*/
    .contactform {
        margin: 10px;
        margin-bottom: 50px;
    }

    fieldset {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

}

/*End the media query*/



/*------------------------------------*/

/*DESKTOP SCREEN*/
@media screen and (min-width: 1200px) {

    h2 {
        font-size: 60px;
    }

    #revolution {
        font-size: 11vw;
    }

    nav a {
        font-size: 24px
    }

    /* parallax */
    .cover-image {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        display: table;
    }

    .about-image {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        display: table;
    }

    .performance-image {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        display: table;
    }

    .yotonix-image {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        display: table;
    }

    /*media*/
    .media-image {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        display: table;
    }

    /*members*/
    .members-image {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        display: table;
    }

    /*contact*/
    .contact-image {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        display: table;
    }

    /*contact*/
    fieldset {
        width: 70%;
    }

}

/*End the media query*/



/*------------------------------------*/

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        /* Removes scroll animation */
    }

    .skip a {
        background: #292929;
        left: 0;
        padding: 6px;
        position: absolute;
        top: -40px;
        -webkit-transition: initial;
        transition: initial;
        z-index: 1;
    }

    .title {
        -webkit-transition: initial;
        transition: initial;
    }
}